<div class="backGround">
  <div class="foreGround">
    <div class="heading d-flex" style="justify-content: space-between;">
      <div>
        <img src="/adminDashboard/logo.png" style="height: 60px;">
      </div>
      <div class="mt-3">
        <button style="padding: 2px 15px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 10px; background-color: rgba(255, 255, 255, 0.5); color: white;">Logout</button>
      </div>
    </div>
    <div class="adminNote">
      Welcome Admin!
    </div>
    <div class="cardContainer">
      <div class="card" (click)="displayUsersDataComp()">
        <img src="/adminDashboard/userManagementCardBg.jpg" alt="">
        <div class="cardFg">
          <p>User Management</p>
        </div>
      </div>
      <div class="card" (click)="displayStaffDataComp()">
        <img src="/adminDashboard/staffManagementCardBg.jpg" alt="">
        <div class="cardFg">
          <p>Staff Management</p>
        </div>
      </div>
    </div>
    <div class="dataContainer">
      <div style="justify-content: space-between; display: flex;">
        <div class="dataCard">
          <div class="dataCardText">
            <p class="dataCardHeading">Total Parkings</p>
            <p class="dataCardValue">25</p>
          </div>
          <div class="dataCardIcon">
            <i class="bi bi-car-front" style="color: rgb(68, 108, 216); font-size: 40px;"></i>
          </div>
        </div>
        <div class="dataCard">
          <div class="dataCardText">
            <p class="dataCardHeading">Total Revenue</p>
            <p class="dataCardValue">$2500</p>
          </div>
          <div class="dataCardIcon">
            <i class="bi bi-graph-up" style="color: rgb(1, 199, 1); font-size: 40px;"></i>
          </div>
        </div>
        <div class="dataCard">
          <div class="dataCardText">
            <p class="dataCardHeading">Total Members</p>
            <p class="dataCardValue">2</p>
          </div>
          <div class="dataCardIcon">
            <i class="bi bi-people" style="color: rgb(68, 108, 216); font-size: 40px;"></i>
          </div>
        </div>
        <div class="dataCard">
          <div class="dataCardText">
            <p class="dataCardHeading">Total Staff</p>
            <p class="dataCardValue">2</p>
          </div>
          <div class="dataCardIcon">
            <i class="bi bi-people" style="color: rgb(1, 199, 1); font-size: 40px;"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="feedbackContainer">
      <div class="feedbackHeading">
        FEEDBACKS
      </div>
      <div class="d-flex row">
        <div *ngFor="let feedbackCard of feedbacks" class="mb-4 col-lg-4">
          <div class="feedbackCard">
            <div class="userName">
              {{feedbackCard.username}}
            </div>
            <div class="feedback">
              {{feedbackCard.feedback}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <span class="brand">
          <i class="bi bi-car-front" style="font-size: 20px;"></i>
          EliteParking
        </span>
        <span class="rights"> 2025 EliteParking Management. All rights reserved.</span>
      </div>
    </footer>
  </div>
</div>