<div class="background-container ">
<div class="container-fluid">
    <div class="container-fluid mb-3" >
        <div class="navbar">
            <div>
                <img src="./logo.png" alt="logo" height="50px">
            </div>
            <div class="mt-3">
                <button style="padding: 2px 15px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 10px; background-color: rgba(255, 255, 255, 0.5); color: white;" (click)="goToHelpPage()">Help</button>
                <button style="padding: 2px 15px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 10px; background-color: rgba(255, 255, 255, 0.5); color: white;margin-left: 30px;" routerLink="">Logout</button>
            </div>
       </div>
        <div class="parkingtitle">
            <p>Parking Reservation</p>
        </div>                   
        <div class="row mt-3 mx-1" name="parkingslotdescription" >        
            <div class="col-6 mb-3">
                <p class="text-white" >Select Date:</p>
                <input style="background-color: rgb(80, 80, 80) ;border:none;" type="date" id="calendar" class="form-control text-white input-sm/md/lg/xl/xxl text-center d-flex justify-content-center" [(ngModel)]="selectedDate">
            </div>            
            <div class="col-6 mb-3">
                <p class="text-white ">Vehicle Type:</p>
                    <div class="dropdown">
                        <button style="background-color: rgb(80, 80, 80)" class="btn btn-white text-white dropdown-toggle form-control input-sm/md/lg/xl/xxl" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Normal / EV 
                        </button>
                        <ul class="dropdown-menu form-control input-sm/md/lg/xl/xxl">
                            <li><a class="dropdown-item bg-light text-dark text-center" (click)="showNormalSlots();getdatafromDate()">Normal Parking</a></li>
                            <li><a class="dropdown-item bg-light text-dark text-center" (click)="showEVSlots();getdatafromDate()">EV Parking</a></li>
                        </ul>
                   </div>
             </div>
        </div>
       </div>
       </div>
       <div class="container-fluid  parkslotingcontainer">
        <div class="row d-flex mx-5 description justify-content-center" *ngIf="parkinglayout==null">
           <div class="col-12 alertmessage d-flex justify-content-center"><i class="bi bi-hand-index-thumb text-warning"> </i><b class="text-white">  Please enter the date and vehicle type in the above fields</b></div>
        </div>

       <div class="row mx-4 " name="parkingslot" *ngIf="parkinglayout==true">
            <p class="slottitle pb-1 text-white mt-2">Available Parking Slots</p>
            <p class="text text-white">Showing normal vehicle parking for {{selectedDate}}</p>
            <br>
            <br>
            <p class="twowheelerslottitle text-white"><i class="fa-solid fa-motorcycle text-info"></i>  2-Wheeler Parking (Normal)</p>
            <br>    
            <br>        
            <div class="container-lg twowheelerslot">
                <br>
                <div class="row" *ngFor="let row of NormalSlotRows" class="d-flex justify-content-center align-items-center mb-4">
                <div class="col-3 d-flex justify-content-center align-items-center mb-1" *ngFor="let slotId of row">
                <button
                    class="slotbutton btn btn-primary mx-2"
                    [id]="slotId"
                    (click)="changeBlueButton($event)"
                >
                    <i class="fa-solid fa-motorcycle fa-lg mb-2 mt-3"></i>{{ slotId }}
                </button>
                </div>
               </div>                    
         </div>  
             <p class="endline border"></p>            
            <br>
            <br>
            <p class="twowheelerslottitle text-white"><i class="fa-solid fa-car-side text-info"></i>  4-Wheeler Parking (Normal)</p>
            <br>    
            <br>        
            <div class="container-lg twowheelerslot">
                <br>
                <div class="row" *ngFor="let row of NormalCarSlotRows" class="d-flex justify-content-center mb-4">
                <div class="col-3 d-flex justify-content-center" *ngFor="let slotId of row">
                <button
                    class="slotbutton1 btn btn-primary mx-2"
                    [id]="slotId"
                    (click)="changeBlueButton($event)"
                >
                    <i class="fa-solid fa-car-side  fa-lg mb-2 mt-3"></i>{{ slotId }}
                </button>
                </div>
               </div>                    
         </div>
                   
           
            <div class="row d-flex justify-content-center mt-5">
                    <div class="col-12 d-flex justify-content-center">
                            <button  (click)="PaymentCheckout()" class="billingbutton btn btn-secondary p-3"><b>Proceed to Payment</b></button>
                    </div>
                </div>
                <br>   
            </div>
            <div *ngIf="parkinglayout==true">
                <br>
                <br>
            </div>
            
        <div class="row  mx-4" name="parkingslot" *ngIf="parkinglayout==false">
            <p class="slottitle text-white mt-2 pb-1">Available Parking Slots</p>
            <p class="text text-white">Showing EV vehicle parking for {{selectedDate}} </p>
            <br>
            <br>
            <p class="twowheelerslottitle text-white"><i class="fa-solid fa-motorcycle text-info"></i>  2-Wheeler Parking (EV)</p>
            <br>    
            <br>        
            <div class="container-lg twowheelerslot">
                <br>
                <div class="row" *ngFor="let row of EvslotRows" class="d-flex justify-content-center align-items-center mb-4">
                <div class="col-3 d-flex justify-content-center align-items-center mb-1" *ngFor="let slotId of row">
                <button
                    class="slotbutton btn btn-success mx-2"
                    [id]="slotId"
                    (click)="changeBlueButton($event)"
                >
                    <i class="fa-solid fa-motorcycle fa-lg mb-2 mt-3"></i>{{ slotId }}
                </button>
                </div>
               </div>                    
         </div>
            
                <br>
                <p class="endline border"></p>            
                <br>
           
            <p class="twowheelerslottitle text-white"><i class="fa-solid fa-car-side text-info"></i>  4-Wheeler Parking (EV)</p>
            <br>    
            <br>        
            <div class="container-lg twowheelerslot">
                <br>
                <div class="row" *ngFor="let row of EvCarSlotRows" class="d-flex justify-content-center mb-4">
                <div class="col-3 d-flex justify-content-center mb-1" *ngFor="let slotId of row">
                <button
                    class="slotbutton1 btn btn-success mx-2"
                    [id]="slotId"
                    (click)="changeGreenButton($event)"
                >
                    <i class="fa-solid fa-car-side  fa-lg mb-2 mt-3"></i>{{ slotId }}
                </button>
                </div>
               </div>                    
         </div>
            <br>
              <div class="row d-flex justify-content-center mt-5">
                    <div class="col-12 d-flex justify-content-center">
                            <button (click)="PaymentCheckout()" class="billingbutton btn btn-secondary p-3"><b>Proceed to Payment</b></button>
                    </div>
                </div>
                <br>
        </div>
        
        <div *ngIf="parkinglayout==false">
                <br>
                <br>
            </div>
           
      </div>
    </div>
         <!--Footer-->
<footer class="footer mat-elevation-z2">
  <div class="footer-content">
    <span class="brand">
      <img src="./car-front.svg" alt="icon">
      EliteParking
    </span>
    <span class="rights"> 2025 EliteParking Management. All rights reserved.</span>
  </div>
</footer>
   